= nav_bar fixed: :top, brand: "Marie", responsive: true
  = menu_group
    = menu_item 'Home', root_path
    = menu_divider
    = menu_item discover_path
      => fa_icon 'globe'
      | Discover
    = menu_item new_camera_path
      => fa_icon 'video-camera'
      | Add new
br
br
br
