.row
  .col-lg-12.col-md-12.col-xs-12
  .jumbotron
    h1 Marie
    p Watch your neighborhood with Marie

    = link_to discover_path, class: 'btn btn-lg btn-success'
      => fa_icon 'compass'
      | Browse
