ruby:
  play_history ||= false

ul.nav.nav-pills.nav-stacked
  li class="#{active_for(:show)}"
    = link_to camera_path(resource)
      => fa_icon 'play-circle-o'
      | Live
  li class="#{active_for(:history)}"
    = link_to camera_history_path(resource), class: active_for(:history)
      => fa_icon 'history'
      | History
      span.badge = resource.videos.count
  - if play_history
    li class="#{active_for(:play_history)}"
      = link_to '#', class: 'active'
        => fa_icon 'play'
        | Playing history

