= render 'cameras/shared_header', resource: @resource

.row
  .col-lg-3.col-md-5.col-xs-12
    = render 'cameras/shared_nav', resource: @resource

  .col-lg-9.col-md-7.col-xs-12.list-group
    .container-fluid
      - @resources.each do |video|
        .col-lg-3.col-md-4
          .panel.panel-default
            .panel-body.image-cover
              = link_to camera_play_video_path(@resource, video)
                = image_tag video.thumbnail_url
            .panel-footer
              = link_to camera_play_video_path(@resource, video)
                div
                  = video.recording_date.strftime("%d-%m-%y %H:%M")
                div
                  => distance_of_time_in_words_to_now(video.recording_date)
                  | ago
      .col-lg-12.col-md-12.col-xs-12
        = will_paginate @resources, renderer: BootstrapPagination::Rails




