.col-lg-12.col-md-12.col-xs-12
  h2 Add new camera
  hr
= simple_form_for @resource, url: cameras_path do |f|
  = f.input :token, as: :hidden

  .col-lg-6.col-md-6.col-xs-12
    = f.input :name
    = f.input :s3_attribute
    = f.input :feed_url

  .col-lg-12.col-md-12.col-xs-12
    = f.input :connection_type, as: :radio_buttons, collection: Camera::CONNECTION_TYPES.map{ |el| [el, el]}, item_wrapper_class: 'inline'

  .col-lg-12.col-md-6.col-xs-12
    = f.submit 'Create', class: 'btn btn-success'
