= render 'cameras/shared_header', resource: @resource, additional_text: "Historical file for #{@video.recording_date.strftime("%e-%m-%y %H:%M")}"

.row
  .col-lg-3.col-md-5.col-xs-12
    = render 'cameras/shared_nav', resource: @resource, play_history: true

  .col-lg-9.col-md-7.col-xs-12.list-group
    .container
      .col-lg-9.col-md-7.col-xs-12
        video#video_block.embed-responsive-item.video-js.vjs-default-skin controls="true" preload="auto" width="640" height="264" poster="#{@video.thumbnail_url}"
          source src="#{@video.url_to_video}" type="video/mp4"

          p.vjs-no-js
            | To view this video please enable JavaScript, and consider upgrading to a web browser that
            a href="http://videojs.com/html5-video-support/" target="_blank"

