= render 'cameras/shared_header', resource: @resource

.row
  .col-lg-3.col-md-5.col-xs-12
    = render 'cameras/shared_nav', resource: @resource

  .col-lg-9.col-md-7.col-xs-12
    .embed-responsive.embed-responsive-16by9 align="center"
      video#video.embed-responsive-item autoplay="true" loop="true" poster="/preview/default.png"

- if @resource.connection_type == Camera::CONNECTION_TYPE_SIMPLE_PLAY_FROM_URL
  - content_for :js
    script src="https://cdn.jsdelivr.net/hls.js/latest/hls.min.js"
    javascript:
      if(Hls.isSupported()) {
        var video = document.getElementById('video');
        var hls = new Hls();
        hls.loadSource("#{@resource.feed_url}");
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
          video.play();
        });

      } ;
