// Place all the styles related to the discover controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index.embed-responsive-item {
  min-height: 150px;
  max-height: 150px;
}
