- content_for :js
  script src="https://cdn.jsdelivr.net/hls.js/latest/hls.min.js"

.row
  .col-lg-12.col-md-12.col-xs-12
    .page-header
      h1
        | Discover
        small =< "Total available #{@resources.count} cameras"

  - @resources.find_each do |resource|

    .col-lg-3.col-md-4
      .panel.panel-default
        .panel-heading
          = resource.name
        .panel-body.image-cover
          = link_to camera_path(resource)
            video.embed-responsive-item.index autoplay="true" loop="true" muted="true" id="#{resource.token}" poster=""
        .panel-footer
          .pull-right
            .btn-group
              = link_to camera_path(resource), class: 'btn btn-default'
                => fa_icon 'play-circle-o'
                | Open live
              = link_to camera_path(resource), class: 'btn btn-default dropdown-toggle', data: { togle: 'dropdown' }, aria: { haspopup: true, expanded: false }
                span.caret
                span.sr-only Toggle Dropdown
              ul.dropdown-menu
                li
                  = link_to camera_history_path(resource)
                    => fa_icon 'history'
                    | Open history

          .clearfix

    - content_for :js
      javascript:
        if(Hls.isSupported()) {
          var video = document.getElementById("#{resource.token}");
          var hls = new Hls();
          hls.loadSource("#{resource.feed_url}");
          hls.attachMedia(video);
          hls.on(Hls.Events.MANIFEST_PARSED,function() {
            video.play();
          });
        } ;



