doctype html
html
  head
    title Marie demo preview
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    = stylesheet_link_tag    "http://vjs.zencdn.net/5.17.0/video-js.css"
    = stylesheet_link_tag    "application", media: 'all'
    = csrf_meta_tags

  body
    = render 'shared/navbar'
    .container
      = yield

  = javascript_include_tag "application"
  = javascript_include_tag "//vjs.zencdn.net/5.4.6/video.min.js"
  = yield(:js)
